openai
langchain
langchain-openai
ipykernel
arxiv
wikipedia
langchain-community
langchain-huggingface
sentence-transformers
faiss-cpu
python-dotenv
fastapi
validators
youtube-transcript-api
pyPDF2
gradio
requests
langchain_groq
